*.class
*.pyc
*.pyo
.project
.settings
/non_tracked_content/*
/untracked_content/*
/toolbox/error.log
apache.users
cgi-bin
error
icons
.git
/public/combined/*
!/public/combined/placeholder.txt
!/public/combined/css/placeholder.txt
!/public/combined/js/placeholder.txt
/toolbox/error.log*.class
*.pyc
*.pyo
